# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# ASP.NET
appsettings.Development.json
*.log

# Docker
.aspnet/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
/client/dist/
/client/.angular/
/client/.vscode/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db